.incrctrl
{
	border-collapse: collapse;

}

.incrctrl
{
	line-height: 10px

}

.grn { color: #003300 }
.red { color: #990000 }

img
{
	border: none;
	margin: 0;
	padding:  0;
}

.qty
{
	text-align: right;
	padding-right: 3px;
}

tr.highlight { background-color: #0099ff; color: #ffffff }

/*
.ui-autocomplete { height: 100px; overflow-y: scroll; overflow-x: hidden;}
*/


#billing_container td { padding: 4px }
#billing_container th { font-weight: normal; text-align: right; padding-right: 100px }
#customer_tickets_container td { padding: 5px;} /* 684px width */
